body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('../assets/beige_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
    max-width: 900px;
    width: 100%;
    border-radius: 50px;
    padding: 50px;
    background-color: #ffffff83;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.5);
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

th, td {
    border: 1px solid black;
    padding: 12px 15px;
}

th {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #e0caa0;
    text-align: center;
}

td {
    font-family: 'Tahoma', sans-serif;
    font-size: 13px;
    background-color: #fff;
    text-align: left;
    word-break: break-word;
}