img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid black;
    margin-bottom: 50px;
}

body {
    font-family: Lexend Deca, sans-serif;
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    color: #2e6f40;
    margin-top: 20px;
}

p {
    font-size: 15px;
    color: black;
    line-height: 1.5;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #2569a8;
    text-decoration: underline;
}

.profile, .contact {
    display: inline-block;
    text-align: left;
}

.main-title, .section {
    margin-bottom: 10px;
}

hr {
    width: 50%;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}