img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 3px solid #2e6f40;
    margin-bottom: 50px;
}

body {
    text-align: center;
    background-image: url('assets/cream_bg.jpg');
}

.main-title, .section {
    margin-bottom: 10px;
}

.profile, .contact {
    display: inline-block;
    text-align: left;
}

h1 {
    font-family: 'Georgia', serif;
    font-size: 40px;
    font-weight: 100px;
    text-align: center;
    letter-spacing: 3px;
    color: #2e6f40;
    margin-top: 20px;
}

h2 {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: #2e6f40;
    margin-top: 20px;
}

p {
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
    color: black;
    line-height: 1.5;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 50%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: #2569a8;
    text-decoration: underline;
}